.box{
   
    box-shadow: 2px 2px 4px 3px white;
   border-radius: 20px;
    width: 45%;
    margin: auto;
    padding: 1%;
    background: rgb(23, 23, 68,0.4);
}


.box .top .question_no{
    color: white;
    text-align: right;
    font-size: 1.3vw;
}

.top .timer{
    text-align: center;
    border-radius: 50%;
    background-color: black;
    width: 10%;
    box-shadow: 2px 4px 4px 5px white;
    margin: auto;
    color: white;
    padding: 1%;
    font-size: 1.3vw;
}
 .question{
    text-align: center;
    border-radius: 12px;
    background-color: navy;
    color: white;
    font-size: 1.2vw;
}
.option li{
    text-align: center;
    color: white;
    list-style: none;
    
    
    
}
.option button{
    background-color: navy;
    font-size: 1.3vw;
    color: white;
    border-radius: 12px;
    padding-left: 2%;
    width: 50%;
    text-align: left;

}

