.instruct{
font-size: 3vw;
color: tomato;
text-shadow: 0.2vw 0.2vw 0.1vw white;
text-decoration: underline;
text-align: center;

}
.rules{
    color: white;
    text-shadow: 0.2vw 0.2vw 0.2vw black;
    /* text-shadow: 2px 2px 0px black; */
    font-size: 2.6vw;
}

ul::before{
    content: "\2022";
    color: white;

}