.outer{
    text-align: center;
    width: 45%;
    margin: auto;
    border-radius: 20px;
    box-shadow: 2px 2px 4px 3px white;

    padding: 1%;
    background-color: rgb(1, 1, 7);
}
img{
    animation: rotate 1s ease-in-out 0s infinite forwards ;
}
@keyframes rotate {
    0%{

        transform:rotateY(0deg);
    }
    50%{

        transform:rotateY(80deg);
    }
    80%{

        transform:rotateY(180deg);
    } 
    100%{

        transform:rotateY(360deg);
    } 
    
}
.outer img{
    height: 70%;
    width: 50%;
    border-radius: 50%;
    box-shadow: 2px 2px 4px 3px white;
    margin: 5%;

}

.outer .startbtn{
     font-size: 2vw;
    border-radius: 12px;
    box-shadow: 0.1vw 0.7vw  0.2vw grey;
    background-color: black;

}
.outer .startbtn:active{
    transform: scale(0.98);
}
.outer .startbtn h3{
    color: white;

    font-size: 1.4vw;
}

.startbtn:hover{
    transition-duration: 0.8s ;
  background-color: red;
}

@media screen and (max-width:580px) {
    .outer{
          margin-top: 80px;
    }
    
    .outer button h3{
        font-size:2vw;
    }
}
@media screen and (max-width:306px) {
    .outer{
          margin-top: 80px;
    }
    .outer img{
        margin: 5%;
    }

}